.mobile-bottom-nav {
  z-index: 999;
  padding-bottom: 1.2em !important;
  background-color: #101010 !important;
}

.item {
   flex-grow:1;
   text-align:center;
   font-size:12px;
   display:flex;
   flex-direction:column;
   justify-content:center;
 }

.active{
  color:#17a2b8 !important;
}

.item-content{
   display:flex;
   flex-direction:column;
 }

.zp {
  cursor: default;
  color: #F5F5F5 !important;
}

.dropdown-menu {
  z-index: 2000 !important;
}
