<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="!isMobile">
  <a class="navbar-brand title" routerLink="/home" (click)="clear()">
    <img src="../../assets/logo_light.png" height="32">ZeQuiz
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/all" (click)="clear()">Categories</a>
      </li>
    </ul>
  </div>
</nav>


<!-- Mobile view -->
<div *ngIf="isMobile">
  <nav class="navbar navbar-expand-lg fixed-bottom mobile-bottom-nav">
    <div class="item " [ngClass]="{'active': this.active === 0}">
      <div class="item-content" (click)="goToHome()">
        <i class="fas fa-home fa-2x"></i>
        Home
      </div>
    </div>
    <div class="item"  [ngClass]="{'active': this.active == 1}">
      <div class="item-content" (click)="goToCategories()">
        <i class="fas fa-search fa-2x"></i>
        Categories
      </div>
    </div>
  </nav>

</div>
