<footer class="d-flex justify-content-center row" *ngIf="!isMobile">
  <p class="mr-1">&copy; 2021 Julien DA CORTE. All Rights Reserved -</p>
  <a routerLink="legal">Terms & Conditions</a>
  <span class="mx-1">-</span>
  <a href="https://fr.freepik.com" target="_blank">Image creator : fr.freepik.com</a>
<!--  <a class="ml-1" routerLink="home">- About</a>-->
</footer>

<footer *ngIf="isMobile" class="d-flex justify-content-center">
  <ul>
    <li class="mb-2">
      <span>&copy; 2021 Julien DA CORTE</span>
    </li>
    <li class="mb-2">
      <span>All Rights Reserved</span>
    </li>
    <li class="mb-2">
      <a routerLink="legal">Terms & Conditions</a>
    </li>
    <li>
      <a href="https://fr.freepik.com" target="_blank">Image creator : fr.freepik.com</a>
    </li>
  </ul>
</footer>
