<div class="alert alert-info" role="alert" *ngIf="errMsg">
  {{errMsg}}
</div>

<div class="card" *ngIf="!result">
  <div class="card-body">
    <div class="progress">
      <div class="progress-bar bg-info" [ngStyle]="{'width': timeLeft + '%'}" role="progressbar"
           aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" ></div>
    </div>
    <div class="d-flex justify-content-between">
      <p class="text-muted">Difficulty : {{listQuestions[index].difficulty}}</p>
      <p>{{index + 1}}/10</p>
    </div>
    <h5>
      {{parseQuestion(listQuestions[index].question)}}
    </h5>
    <div class="d-flex justify-content-start mt-3" *ngIf="!answer">
      <button type="button" class="btn btn-info btn-lg mr-2" (click)="validate('true')">
        True
      </button>
      <button type="button" class="btn btn-info btn-lg" (click)="validate('false')">
        False
      </button>
    </div>
    <div *ngIf="answer" class="mt-3 d-flex justify-content-between">
      <p class="text-success" *ngIf="correctAnswer === selectedAnswer">
        <strong>Bravo! Good answer.</strong>
      </p>
      <p class="text-danger" *ngIf="correctAnswer !== selectedAnswer">
        <strong>Sorry! Wrong answer.</strong>
      </p>
      <p class="text-center">Score: <span class="title">{{this.score}} zp</span></p>
    </div>

    <button class="btn btn-info btn-block"  *ngIf="index < 9 && this.answer" (click)="nextQuestion()">Continue</button>
    <button class="btn btn-info btn-block" *ngIf="index === 9 && this.answer && !isVersus" (click)="displayResult()">Finish</button>
    <button class="btn btn-info btn-block" *ngIf="index === 9 && this.answer && isVersus" (click)="displayVSResult()">Result</button>
  </div>
</div>

<div class="card" *ngIf="result && !isVersus">
  <div class="card-body">
    <h4 class="text-center">Score: <span class="title">{{score}} zp</span></h4>
    <div class="mb-3">
      <app-rate></app-rate>
    </div>

    <div class="d-flex justify-content-between">
      <button type="button" class="btn bg-gradient mr-3" (click)="goToCategories()">View all quizzes</button>
      <button type="button" class="btn btn-outline-light" (click)="restart()">
        <i class="fas fa-sync-alt"></i> Restart
      </button>
    </div>
  </div>
</div>
