<div class="alert alert-info" role="alert" *ngIf="errMsg">
  {{errMsg}}
</div>

<div class="card" *ngIf="!result">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p class="text-muted">Difficulty : {{listQuestions[index].difficulty}}</p>
      <p>{{index + 1}}/10</p>
    </div>
    <h5>
      {{parseQuestion(listQuestions[index].question)}}
    </h5>
    <div class="d-flex justify-content-start mt-3" *ngIf="!answer">
      <button type="button" class="btn btn-info btn-lg mr-2" (click)="validate('true')">
        True
      </button>
      <button type="button" class="btn btn-info btn-lg" (click)="validate('false')">
        False
      </button>
    </div>
    <div *ngIf="answer" class="my-3">
      <p class="text-success" *ngIf="correctAnswer === selectedAnswer">
        <strong>Bravo! Good answer. The answer is {{listQuestions[index].correct_answer}}.</strong>
      </p>
      <p class="text-danger" *ngIf="correctAnswer !== selectedAnswer">
        <strong>Sorry! Wrong answer. The correct answer is {{listQuestions[index].correct_answer}}.</strong>
      </p>
    </div>

    <button class="btn btn-info btn-block"  *ngIf="index < 9 && this.answer" (click)="nextQuestion()">Continue</button>
    <button class="btn btn-info btn-block" *ngIf="index === 9 && this.answer && !vs" (click)="displayResult()">Finish</button>
    <button class="btn btn-info btn-block" *ngIf="index === 9 && this.answer && vs" (click)="displayVSResult()">Result</button>
  </div>
</div>

<div class="card" *ngIf="result && !vs">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Score : {{score}}/10</h3>
    </div>
    <div class="alert alert-info text-center" role="alert">
      <span *ngIf="score == 10">Great Job<i class="mx-2 far fa-smile-beam fa-lg"></i></span>
      <span *ngIf="score >= 8 && score < 10">Well done<i class="mx-2 far fa-smile-wink fa-lg"></i></span>
      <span *ngIf="score >= 5 && score < 8">Not bad<i class="mx-2 far fa-smile fa-lg"></i></span>
      <span *ngIf="score < 5">Not good<i class="mx-2 far fa-frown-open fa-lg"></i></span>
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn bg-gradient mr-3" (click)="goToCategories()">View all quizzes</button>
      <button type="button" class="btn btn-outline-light" (click)="restart()"><i class="fas fa-sync-alt"></i> Restart</button>
    </div>
  </div>
</div>

<div class="card" *ngIf="result && vs">
  <div class="card-body">
    <div *ngIf="displaySpinner">
      <h5 class="mb-2 text-center">Waiting for opponent ...</h5>
      <div class="d-flex justify-content-center my-5">
        <div class="spinner-border text-info" role="status">
        </div>
      </div>
    </div>

    <div *ngIf="!displaySpinner">
      <div class="d-flex justify-content-between">
        <h3 class="mt-2">Your Score : {{score}}/10</h3>
        <h3 *ngIf="score < 5" class="ml-4 mt-2"> -{{zp}} ZP</h3>
        <h3 *ngIf="score >= 5" class="ml-4 mt-2"> +{{zp}} ZP</h3>
      </div>

      <div class="alert alert-info text-center" role="alert">
        <span *ngIf="score == 10">Great Job<i class="mx-2 far fa-smile-beam fa-lg"></i></span>
        <span *ngIf="score >= 8 && score < 10">Well done<i class="mx-2 far fa-smile-wink fa-lg"></i></span>
        <span *ngIf="score >= 5 && score < 8">Not bad<i class="mx-2 far fa-smile fa-lg"></i></span>
        <span *ngIf="score < 5">Not good<i class="mx-2 far fa-frown-open fa-lg"></i></span>
      </div>

      <hr/>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn bg-gradient btn-block" (click)="goToCategories()">View all quizzes</button>
      </div>
    </div>
  </div>
</div>

