<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <h3>ADMIN PANEL</h3>
    </li>
  </ul>
  <ul class="navbar-nav" *ngIf="authentication.isLogged() && authentication.user">
    <li class="nav-item">
      <h5 class="nav-link">{{authentication.user.nickname}}</h5>
    </li>
    <li class="nav-item">
      <button  class="mx-2 btn btn-outline-light"
               (click)="logout()">Sign out</button>
    </li>
  </ul>
</nav>

<div *ngIf="!authentication.isLogged()">
  <app-login></app-login>
</div>

<div *ngIf="authentication.isLogged() && authentication.user as user">
  <div *ngIf="user.permissionLevel.toString() === this.isAdmin.get('ADMIN')">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Purging part</h5>
      <button class="btn btn-danger mx-3" (click)="purgeClosedRooms()">
        Purge Rooms
      </button >
      <button class="btn btn-danger" (click)="purgePlayers()">
        Purge Players
      </button>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-body">
      <div class="d-flex justify-content-between mb-1">
        <h5 class="card-title">Insert Categories</h5>
        <button class="btn btn-outline-light" type="button" data-toggle="collapse"
                data-target="#collapsePreview" aria-expanded="false" aria-controls="collapse">
          <i class="fas fa-caret-down"></i>
        </button>
      </div>

      <div class="collapse" id="collapsePreview">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="name" [(ngModel)]="name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="photo url" [(ngModel)]="photoUrl">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="number" [(ngModel)]="num">
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-outline-light" (click)="showPreview()">
            Preview
          </button>
          <button class="btn btn-info" (click)="addToProduction()">
            Add to production
          </button>
        </div>

        <div class="d-flex justify-content-center" *ngIf="preview">
          <app-category [category]="newCategory" [isMobile]="false"></app-category>
        </div>
      </div>
    </div>
  </div>

    <div class="card my-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">Manage Categories</h5>
          <button class="btn btn-outline-light" type="button" data-toggle="collapse"
                  data-target="#collapseList" aria-expanded="false" aria-controls="collapse">
            <i class="fas fa-caret-down"></i>
          </button>
        </div>
        <div class="collapse" id="collapseList" *ngIf="categories">
          <p>Total of categories : {{categories.length}}</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search a quiz" [(ngModel)]="item">
            <div class="input-group-append">
              <span class="btn btn-info"><i class="fas fa-search"></i></span>
            </div>
          </div>
          <table class="table table-dark">
            <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Category Number</th>
              <th scope="col">Views</th>
              <th scope="col">Rate</th>
              <th scope="col">Rate number</th>
<!--              <th scope="col">Manage</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categories | filter:item">
              <td>
                <img src="{{category.photoUrl}}" width="100" height="80" style="border-radius: 12px">
              </td>
              <td>{{category.name}}</td>
              <td>{{category.num}}</td>
              <td>{{category.views}} </td>
              <td>{{category.rate}}</td>
              <td>{{category.rateNumber}}</td>
<!--              <td>-->
<!--                <button class="btn btn-danger">Delete</button>-->
<!--              </td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

