.card-img {
  height: 226px;
  width: 300px;
  opacity: 0.75;
  border-radius: 16px;
}

.card {
  width: 300px;
  transition: transform 400ms;
}

.item:hover, .item:focus {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
}

h5 {
  font-size: 3em;
  text-shadow: #17a2b8 1px 0 10px;
}

