<div class="d-flex justify-content-center my-5" *ngIf="!category">
  <div class="spinner-border text-info" role="status">
  </div>
</div>

<div class="row d-flex justify-content-center mt-3" *ngIf="category">
  <div class="card">
    <img src="{{category.photoUrl}}" class="card-img">
    <div class="card-img-overlay">
      <h5 class="text-center title">{{category.name}}</h5>
    </div>
  </div>
  <div class="mt-2 mx-5" *ngIf="!game">
    <p><i class="far fa-eye fa-lg mr-1"></i>{{category.views}}</p>
    <h4>Play Alone ?</h4>
    <button class="btn bg-gradient btn-block" (click)="startQuiz()">Start Quiz</button>
    <hr/>
    <h4>ZeVersus Mode ?</h4>
    <button class="btn bg-gradient btn-block" (click)="goToVS()">Start ZeVersus</button>
  </div>
</div>
<!--<i class="fas fa-star fa-pull-right"></i>-->

<div class="d-flex justify-content-center my-5" *ngIf="game">
  <app-game [quiz]="quiz" [vs]="false" [room]="null"></app-game>
</div>
