<div class="d-flex justify-content-center my-5" *ngIf="!category">
  <div class="spinner-border text-info" role="status">
  </div>
</div>

<div class="d-flex justify-content-center row mt-3 mb-5" *ngIf="category">
  <div class="card">
    <img alt="avatar" src="{{category.photoUrl}}" class="card-img">
    <div class="card-img-overlay">
      <h5 class="text-center title">{{category.name}}</h5>
    </div>
    <div class="d-flex justify-content-between my-2">
      <p *ngIf="category.rate > 0"><i class="fas fa-star fa-lg mr-1"></i>{{category.rate}}
        <span class="ml-1 text-muted">(12)</span><!-- add category.rateNumber -->
      </p>
      <p><i class="far fa-eye fa-lg mr-1"></i>{{category.views}}</p>
    </div>
  </div>

  <div class="mx-5" [ngClass]="{'card': isMobile}" *ngIf="!game && !zequiz">
    <h4>Play Alone ?</h4>
    <button class="btn bg-gradient btn-block" (click)="startQuiz()">Start Quiz</button>

    <div class="my-4">
      <span class="or"><span class="orInner">or</span></span>
    </div>

    <h4>ZeVersus Mode ?</h4>
    <button class="btn bg-gradient btn-block" (click)="goToVS()">ZeVersus Lobby</button>
  </div>

  <div *ngIf="zequiz" class="mx-5" [ngClass]="{'card': isMobile}">
    <img alt="avatar" src="assets/avatars/{{currentImage}}" class="mx-auto d-block" width="135" height="135">

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#modal">
        <i class="fas fa-camera fa-lg"></i>
      </button>
    </div>
    <input type="text" class="form-control mt-1" placeholder="nickname" [(ngModel)]="nickname" maxlength="12">
    <button type="button" class="btn bg-gradient btn-block my-3"
            (click)="createRoom()" [disabled]="!nickname || nickname.length === 0 ||!nickname.trim()">
      Create Room
    </button>
  </div>

</div>


<div class="d-flex justify-content-center my-5" *ngIf="game">
  <app-game [quiz]="quiz" [isVersus]="false"></app-game>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modify avatar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-bod">
        <div class="d-flex justify-content-center row m-2">
          <div *ngFor="let img of images">
            <img alt="avatar" src="assets/avatars/{{img}}" class="mx-auto d-block" width="100" height="100"
                 (click)="setImage(img)" data-dismiss="modal">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-adsense [adClient]="'ca-pub-8378107448779482'" [pageLevelAds]="true"></ng-adsense>

