<div class="d-flex justify-content-center my-5" *ngIf="!room && !category">
  <div class="spinner-border text-info" role="status">
  </div>
</div>

<div *ngIf="room && category">
  <button class="btn btn-danger mt-3" *ngIf="!startQuiz && !error" routerLink="/all" (click)="quit()">Cancel ZeVersus</button>
  <div class="row d-flex justify-content-center mt-3" *ngIf="category">
    <div class="card">
      <img src="{{category.photoUrl}}" class="card-img">
      <div class="card-img-overlay">
        <h5 class="text-center title">{{category.name}}</h5>
      </div>
    </div>
  </div>
  <h4 class="pulse text-center mt-3" *ngIf="!startQuiz && !error ">Waiting for start ...</h4>


  <button class="btn btn-info mx-1" ngxClipboard [cbContent]="'https://www.zequiz.net/#/room/' + room._id"
          (cbOnSuccess)="copied($event)">
    Game Link <i class="far fa-copy fa-lg"></i>
  </button>
  <p class="text-center text-muted" *ngIf="isCopied">Copied !</p>
  <div class="d-flex justify-content-center my-4" *ngIf="!startQuiz && error">
    <div>
      <p class="text-danger">Ooops! An error occured. This room is closed!</p>
      <button class="btn bg-gradient" routerLink="/all" (click)="clear()">View all categories</button>
    </div>
  </div>

  <div class="d-flex justify-content-center my-5" *ngIf="room && startQuiz">
    <app-game [quiz]="room.quiz[0]" [vs]="true" [room]="room"></app-game>
  </div>
</div>



