.card-img {
  height: 226px;
  width: 300px;
  opacity: 0.75;
  border-radius: 16px;
}
.card {
  height: 226px;
  width: 300px;
  background: none;
}

h5 {
  font-size: 3em;
  text-shadow: #17a2b8 1px 0 10px;
}

.fa-star {
  color: gold;
}

ul {
  list-style: none;
}

.players {

}
