<nav class="navbar navbar-expand-lg">
  <div class="input-group mb-2 d-flex justify-content-center">
    <input type="text" class="form-control" placeholder="Search a quiz" [(ngModel)]="item">
    <div class="input-group-append">
      <span class="btn btn-info"><i class="fas fa-search"></i></span>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-center my-5" *ngIf="!categories">
  <div class="spinner-border text-info" role="status">
  </div>
</div>
<div class="card-deck d-flex justify-content-center row" *ngIf="categories">
  <div *ngFor="let category of categories | filter:item" [ngClass]="{'d-flex justify-content-center': isMobile}">
    <app-category [category]="category" [isMobile]="isMobile"></app-category>
  </div>
</div>

